server:
  port: 7001

spring:
  datasource:
    url:
    username:
    password:

  jpa:
    hibernate:
      ddl-auto: create
    generated-ddl: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
        show-sql: true
        format-sql: true